.App {
  background-color: #282c34;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  cursor: pointer;
}

.file-version-link, 
.file-version-link:focus, 
.file-version-link:visited,
.file-version a,
.file-version a:focus,
.file-version a:visited {
  color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button.logout {
  padding: 12px 21px;
  border-bottom-left-radius: 15px;
  border: 1px solid #cc0a0a;
  border-right: none;
  border-top: none;
  float: right;
  background-color: #cc0a0a;
  color: #fff;
}
button.logout:hover {
  color: #cc0a0a;
  background-color: #fff;
  transition-duration: 1.2s;
}
a.homepage {
  padding: 12px 21px;
  border-bottom-right-radius: 15px;
  border-right: none;
  border-top: none;
  float: left;
  background-color: deeppink;
  color: #fff;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
